#tag::micronaut[]
micronaut:
  security:
    intercept-url-map:
      - pattern: /v3/api-docs/**
        access: isAnonymous()
      - pattern: /health
        access: isAnonymous()
  endpoints:
    health:
      enabled: true
      sensitive: false
      details:
        enabled: true
#end::micronaut[]

#tag::database[]
datasources:
  default:
    hikari:
      maximum-pool-size: ${DB_MAX_POOL_SIZE:20}
      minimum-idle: ${DB_MIN_IDLE:10}
      connection-timeout: ${DB_CONNECTION_TIMEOUT:10000}
      idle-timeout: ${DB_IDLE_TIMEOUT:300000}
      max-lifetime: ${DB_MAX_LIFETIME:900000}
      leak-detection-threshold: 60000
#end::database[]

#tag::jaeger[]
tracing:
  jaeger:
    sampler:
      probability: ${JAEGER_SAMPLER_PROBABILITY:0.01}
#end::jaeger[]
